<% t_scope = 'plugins.cama_meta_tag.admin.meta_tag_fields' %>
<script>jQuery(function(){ $('#form-post #post_keywords').closest('.form-group').remove() })</script>
<div class="panel panel-default panel-toggled">
    <div class="panel-heading">
        <div><b><%= cama_t('.title_seo', scope: t_scope) %></b></div>
        <ul class="panel-controls">
            <li><a class="panel-collapse" href="#"><span class="fa fa-angle-up"></span></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <%= label_tag 'options[seo_title]', cama_t('.seo_title', scope: t_scope) %>
            <%= text_field_tag 'options[seo_title]', post.get_option('seo_title'), class: 'form-control translatable' %>
        </div>
        <div class="form-group">
            <%= label_tag 'options[keywords]', cama_t('.seo_keywords', scope: t_scope) %>
            <%= text_field_tag 'options[keywords]', post.get_option('keywords'), class: 'form-control translatable' %>
        </div>
        <div class="form-group">
            <%= label_tag 'options[seo_description]', cama_t('.seo_descr', scope: t_scope) %>
            <%= text_area_tag 'options[seo_description]', post.get_option('seo_description'), class: 'form-control translatable' %>
        </div>

        <div class="form-group">
            <%= label_tag 'options[seo_author]', cama_t('.seo_author', scope: t_scope) %>
            <%= text_field_tag 'options[seo_author]', post.get_option('seo_author'), class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= label_tag 'options[seo_image]', cama_t('.seo_image', scope: t_scope) %> <br>
            <%= hidden_field_tag 'options[seo_image]', post.get_option('seo_image') %>
        </div>
    </div>
</div>
<script type="application/javascript">jQuery(function(){ $("#form-post #options_seo_image").input_upload({label: '', title: '<%= cama_t('.seo_image', scope: t_scope) %>', type: 'image'}); })</script>
